main{
    width: 100%;
}

section{
    width: 100%;
    display: flex; /* emparelhar itens*/
    align-items: center;
    justify-content: space-between; /* colocar espaços entres os itens*/
    padding: 28px 8%;
    background-image: url('../img/fundo1.png');
}

#home{
    width: 100%;
    height: 670px;
}

#cta{
    width: 100%;
    display: flex; /* emparelhar itens*/
    align-items: center;
}

#cta h1{
    font-size: 75px;
    text-align: center;
    color: #FEFAF1;
    font-weight: 900;
}

h1 span{
    color: #ffffff;
}

#banner{
    width: 100%;
    height: 100%;
    display: flex; /* emparelhar itens*/
    justify-content: end;
    align-items: center;
}

#banner img{
    width: 400px;
    height: 670px;
    display: flex;
    align-items: center;
    padding-top: 90px;
}